.comment__item{
    display: flex;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}
.comment__item .left img{
    height: 50px;
}
.comment__item .right{
    margin-left: 20px;
}
.comment__item .right p{
    margin-bottom: 5px;
}
.comment__item .right h6{
    color: slateblue;
}
.comment__item .right .time{
    color: gray;
}