.newPostPage .card-header{
    background-color: pink;
}
.newPostPage .MuiFormGroup-root{
    margin-top: 16px;
}
.newPostPage .MuiFormLabel-root{
    color: black;
}
.newPostPage .error{
    color: red;
    font-size: smaller;
}