.homePage{
    padding-bottom: 20px;
}
.homepage__searchFrom{
    background-color: white;
    padding: 20px;
}
.homepage__searchFrom label{
    
}

.homePage__pagination{
   
}
.homePage__pagination button {
    outline: none;
}