.homePage{
}
.homepage__searchFrom{
    background-color: white;
    padding: 50px;
}
.homepage__searchFrom label{
    
}

.homePage__pagination{
    max-width: 510px;
    width: 50%;
    margin: auto;
}
.homePage__pagination button {
    outline: none;
}